.app-content {
  margin: 64px 16px;
  padding: 24;
  background: "#fff";
  min-height: 28;
}

.slider-bar{
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  min-height: 100vh;
}


.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}